*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #49474D;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  min-width: 100%;
  min-height: 100vh;
}
